*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: black; */
    color: white;
}
header{
    background-color: black;
    height: 100vh;
    display: flex;
    padding: 1rem 5.5rem;
}
header .image{
    width: 550px;
    height:551px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    background-color: rgb(211, 3, 3);
    margin-top: 1rem;
    margin-left: 2rem;
}
header .image::before{
    content: ' ';
    position: absolute;
    width: 100px;
    height: 140%;
    background-color: white;
    animation: anime 7s ease-in-out infinite;
}
header .image::after{
    content: ' ';
    position: absolute;
    background-image: url('../images/Profile.jpeg');
    background-size: cover;
    background-position: center;
    inset: 10px;
    border-radius: 10px;
}
@keyframes anime{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/* header img{
    width: 500px;
    height:551px;
} */
header .text{
    margin-left: 5rem;
    margin-top: 7rem;
}
header .text h1{
    font-size: 60px;
    margin-bottom: 1rem;
}
header .text p{
    font-size: 18px;
    margin-bottom: 1rem;
    width: 80%;
}
header .text button{
    font-size: 18px;
    margin-right: 1rem;
    width: 30%;
    background-color: rgb(211, 3, 3);
    border: none;
    border-radius: 10px;
    padding: 5px;
    color: white;
}
.about{
    padding: 5rem 5.5rem;
    display: flex;
    background-color: #f4f4f4;
    color: black;
    /* margin-top: 2rem; */
}
.about img{
    width: 300px;
    height:300px;
    border-radius: 50%;
    border: 5px solid black;
}
.about .text{
    margin-top: 3rem;
}
.about .text h1{
    font-size: 60px;
    margin-bottom: 1rem;
}
.about .text p{
    font-size: 20px;
    margin-bottom: 1.5rem;
    width: 80%;
}
.about .text button{
    font-size: 18px;
    margin-right: 1rem;
    width: 30%;
    background-color: rgb(211, 3, 3);
    border: none;
    border-radius: 10px;
    padding: 5px;
    color: white;
}
.about .text button a{
    text-decoration: none;
    color: white;
}

/* Media Query */
/* Header */
@media screen and (max-width: 800px){
    header{
        max-height: 55vh;
        padding: 2rem 1rem;
    }
    /* header img{
        width: 250px;
        height:300px;
    } */
    header .image{
        width: 100%;
        height:250px;
        border-radius: 10px;
    }
    header .image::before{
        width: 50px;
        height: 130%;
    }
    header .image::after{
        inset: 5px;
        border-radius: 10px;
    }
    header .text{
        margin-left: 1rem;
        margin-top: 2rem;
    }
    header .text h1{
        font-size: 25px;
        text-align: center;
    }
    header .text p{
        font-size: 15px;
        width: 100%;
    }
    header .text button{
        font-size: 13px;
        margin-right: 2px;
        width: 45%;
    }
    .about{
        padding: 5rem 2.5rem;
    }
    .about img{
        width: 200px;
        height:200px;
        margin-top: 1rem;
    }
    .about .text{
        margin-right: 1rem;
        margin-top: 1rem;
    }
    .about .text h1{
        font-size: 35px;
    }
    .about .text p{
        font-size: 15px;
        width: 100%;
    }
    .about .text button{
        font-size: 13px;
        width: 50%;
    }
}

@media screen and (max-width: 460px){
    header{
        max-height:40vh;
        padding: 2rem 1rem;
    }
    header .image{
        width: 500px;
        height:200px;
        border-radius: 10px;
        margin-top: 2rem;
    }
    header .image::before{
        width: 50px;
        height: 130%;
    }
    header .image::after{
        inset: 5px;
        border-radius: 10px;
    }

    .about{
        padding: 3rem 1rem;
    }
    .about img{
        width: 150px;
        height:150px;
        margin-top: 3rem;
    }
    .about .text{
        margin-right: 1rem;
        margin-top: 1rem;
    }
    .about .text h1{
        font-size: 30px;
    }
    .about .text p{
        font-size: 10px;
        width: 100%;
    }
}